@import "tailwindcss";

@theme {
  --color-primary: #ff6200;
  --color-secondary: #000000;
  --color-thirdary: #0e1862;
  --color-font: #ffffff;

  --color-primary-header: #ff6200;
  --color-secondary-header: #ffffff;

  --color-primary-hover: #ff6200;
  --color-secondary-hover: #ffffff;
}
